@media (prefers-reduced-motion: no-preference) {
  .circle-logo {
    animation: circle-logo-spin infinite 20s linear;
  }
}

@keyframes circle-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.trueCircle {
  display: inline-block;
  margin: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
}

.trueCircle:before {
  content: "";
  margin-top: 3px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-image: conic-gradient(rgba(0, 124, 217, 1) 0deg, rgba(0, 255, 171, 1) 360deg);
}

.falseCircle {
  display: inline-block;
  margin: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, rgba(248, 15, 15, 1), rgba(207, 63, 245, 1));
}

.falseCircle:before {
  content: "";
  margin-top: 3px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-image: conic-gradient(rgba(236, 0, 31, 1) 0deg, rgba(255, 218, 156, 1) 360deg);
}
