.App {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: #222222;
}

.list li{
  margin: 3px;
  color: red;
  background-color: #ffffff;
  font-weight: bold;
}

.list li a {
  color: #174651;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
